In [68]:
# Load libraries
import pandas as pd

In [69]:
# Load Train dataset
train_data = pd.read_csv('train.csv')
train_data.head()

                                ID  A1  A2  A3  A4  A5     Score
0           14103__worth_9__free_5   1   1   1   0   0  0.369248
1      4603__fretted_10__mother_16   3   3   2   2   0  1.436513
2       3706__attitudes_14__lax_12   3   3   2   1   0  0.994271
3  3098__settlement_14__achieve_12   2   1   1   0   0  0.378663
4        716__mask_30__stripped_28   2   2   2   1   1  0.722123

In [70]:
train_data['ID'].head()

0             14103__worth_9__free_5
1        4603__fretted_10__mother_16
2         3706__attitudes_14__lax_12
3    3098__settlement_14__achieve_12
4          716__mask_30__stripped_28
Name: ID, dtype: object

In [71]:
#Extract the ID from the column (Regular Expression)
train_data['sentence_id'] = train_data.ID.str.extract(pat = '(^\d*)')
train_data['sentence_id'] = train_data['sentence_id'].astype(int)
train_data['sentence_id'].head()

0    14103
1     4603
2     3706
3     3098
4      716
Name: sentence_id, dtype: int32

In [72]:
#Extract the word from the column (Regular Expression)
train_data['word'] = train_data.ID.str.extract(pat = '([A-Za-z]+)')
train_data['word'].head()

0         worth
1       fretted
2     attitudes
3    settlement
4          mask
Name: word, dtype: object

In [73]:
#Extract the metaphor from the column (Regular Expression)
train_data['metaphor'] = train_data.ID.str.extract(pat = '([A-Za-z]+_\d+$)')
train_data['metaphor'] = train_data.metaphor.str.extract(pat = '([A-Za-z]+)')
train_data['metaphor'].head()

0        free
1      mother
2         lax
3     achieve
4    stripped
Name: metaphor, dtype: object

In [74]:
train_data['Score'].head()

0    0.369248
1    1.436513
2    0.994271
3    0.378663
4    0.722123
Name: Score, dtype: float64

In [75]:
train = train_data[['sentence_id','word', 'metaphor', 'Score']]
train.head()

   sentence_id        word  metaphor     Score
0        14103       worth      free  0.369248
1         4603     fretted    mother  1.436513
2         3706   attitudes       lax  0.994271
3         3098  settlement   achieve  0.378663
4          716        mask  stripped  0.722123

In [76]:
# Load corpus dataset
corpus_data = pd.read_csv('vuamc_corpus.csv')
corpus_data.head()

,sentence_id,fragment_id,within_fragment_sentence_id,sentence_txt
0,NaN,NaN,NaN,NaN
1,0.0,a1e-fragment01,1,Latest corporate unbundler M_reveals laid-back...
2,NaN,NaN,NaN,NaN
3,1.0,a1e-fragment01,2,By FRANK KANE
4,NaN,NaN,NaN,NaN

In [77]:
corpus_data = corpus_data[['sentence_id','sentence_txt']]
corpus_data = corpus_data.dropna()
corpus_data.head()

   sentence_id                                       sentence_txt
1          0.0  Latest corporate unbundler M_reveals laid-back...
3          1.0                                      By FRANK KANE
5          2.0  IT SEEMS that Roland Franklin , the latest unb...
7          3.0  He has not properly investigated the M_target ...
9          4.0  The 63-year-old M_head of Pembridge Investment...

In [78]:
#pd.to_numeric(corpus_data['sentence_id'], downcast='signed')
corpus_data['sentence_id'] = corpus_data['sentence_id'].astype(int)
corpus_data.head()

   sentence_id                                       sentence_txt
1            0  Latest corporate unbundler M_reveals laid-back...
3            1                                      By FRANK KANE
5            2  IT SEEMS that Roland Franklin , the latest unb...
7            3  He has not properly investigated the M_target ...
9            4  The 63-year-old M_head of Pembridge Investment...

In [79]:
corpus_data['sentence_txt'] = corpus_data['sentence_txt'].str.replace('M_', '')
corpus_data['sentence_txt'] = corpus_data['sentence_txt'].str.replace('-', ' ')
corpus_data['sentence_txt'].head()

1    Latest corporate unbundler reveals laid back a...
3                                        By FRANK KANE
5    IT SEEMS that Roland Franklin , the latest unb...
7    He has not properly investigated the target 's...
9    The 63 year old head of Pembridge Investments ...
Name: sentence_txt, dtype: object

In [80]:
corpus_data['sentence_txt'] = corpus_data['sentence_txt'].str.encode("ascii", "replace")
corpus_data['sentence_txt'] = corpus_data['sentence_txt'].str.decode("utf-8", "ignore")
corpus_data['sentence_txt'].head()

1    Latest corporate unbundler reveals laid back a...
3                                        By FRANK KANE
5    IT SEEMS that Roland Franklin , the latest unb...
7    He has not properly investigated the target 's...
9    The 63 year old head of Pembridge Investments ...
Name: sentence_txt, dtype: object

In [81]:
corpus_data['sentence_txt'] = corpus_data['sentence_txt'].str.replace("?", " ")
#corpus_data['sentence_txt'] = corpus_data['sentence_txt'].str.replace('M', ' ')
corpus_data.head()

   sentence_id                                       sentence_txt
1            0  Latest corporate unbundler reveals laid back a...
3            1                                      By FRANK KANE
5            2  IT SEEMS that Roland Franklin , the latest unb...
7            3  He has not properly investigated the target 's...
9            4  The 63 year old head of Pembridge Investments ...

In [82]:
cols = ['sentence_id']
train_visulization_data = train.join(corpus_data.set_index(cols), on=cols)
train_visulization_data

,sentence_id,word,metaphor,Score,sentence_txt
0,14103,worth,free,0.369248,So I get a free twenty five pound worth of Mar...
1,4603,fretted,mother,1.436513,In the fitting rooms at Taylors she fussed and...
2,3706,attitudes,lax,0.994271,Studies in this area have indicated that too s...
3,3098,settlement,achieve,0.378663,It plans to issue a protective writ but is hop...
4,716,mask,stripped,0.722123,A series of spoof or obsessively realistic 196...
5,2692,time,round,0.676453,The second time round they dealt with R. and B...
6,5410,stretched,ahead,0.702680,"To her , the long summer days had stretched ah..."
7,5595,shape,disguise,0.586667,The seemingly random and jagged edged pattern ...
8,8227,dramatic,warbling,1.999753,"In the high ceilinged kitchen , surrounded by ..."
9,8147,fat,stale,0.655528,"Then , the winter salon did not smell of lilie..."
10,1852,network,constructing,0.574426,While the entire network of popular committees...
11,3576,social,malaise,1.176330,The importance of this debate can be explained...
12,8100,persuasion,soft,2.110781,"In a voice of soft persuasion , she said , W..."
13,3739,particular,listed,0.153615,In effect the product of the discussion in bot...
14,3635,namely,linking,0.294456,But the Government did find a way of accepting...
15,7013,mounted,scenes,0.890231,It was in June 1911 that the first scenes of d...
16,3444,objective,central,0.746439,A central objective of the post war welfare st...
17,167,solo,scale,0.978885,Thomson was also prolific in instrumental musi...
18,1597,expected,entitled,0.397330,"The council argued that a landlord , particula..."
19,4560,tools,solution,0.443350,Over the last 20 years or so a large theoretic...
20,8460,paid,kept,0.311760,They kept their secret identities and paid for...
21,190,held,positions,0.504555,These positions were not held for his own stat...
22,7127,dips,preparing,0.174491,It dips its wings in acknowledgement of the la...
23,838,industry,image,0.660718,"As a result of this rule , and many carefully ..."
24,4673,watched,round,0.294190,"Paula spent most of her free time alone , wind..."
25,11133,stuff,chart,0.940543,"you know , I , I that kind of stuff does n't d..."
26,6391,science,image,0.370467,Giving science a more feminine image : It is s...
27,4569,potential,role,0.775985,As a last example of the potential role of ope...
28,1906,capacity,pyramid,0.328917,"A pyramid administrative structure , establish..."
29,4554,assigned,base,0.359174,Existing GIS techniques usually base the estim...
...,...,...,...,...,...
15260,3098,achieve,hoping,0.640151,It plans to issue a protective writ but is hop...
15261,558,defence,called,0.371905,Mr Livingstone called for cuts in defence spen...
15262,3518,standard,sense,0.189702,It argued that in talking about inner cities i...
15263,780,reference,subject,0.406852,The subject of a bad reference can sue the ref...
15264,2581,questions,raise,0.550513,"Moreover , the borderlines between the various..."
15265,516,anger,aroused,0.922702,They have also aroused Protestant anger agains...
15266,4497,type,include,0.180715,In the USA the Environmental Protection Agency...
15267,1868,authority,shake,0.722123,"Through it , Palestinians are struggling on a ..."
15268,2133,colour,bright,0.775657,"Her red suit was smart , but too bright a colo..."
15269,131,unique,mixture,0.719081,VIRGIL THOMSON was a composer and writer of or...
15270,1401,attempted,redress,0.370568,What is obscured by this process is that it wa...
15271,3111,country,touches,0.277627,Health is something which touches every indivi...
15272,6363,makes,demand,0.682883,"Science , with its masculine image , makes lit..."
15273,1643,publication,endorsed,0.424619,I WRITE in response to Judith Raymont ( Novemb...
15274,6615,detour,save,1.243708,Sartre 's account thus sets up the articulatio...
15275,166,Portrait,settings,0.681399,"There are Stein settings , such as Portrait ..."
15276,4486,product,market,0.191920,This area of application would appear to be an...
15277,6676,rules,conducted,0.509988,It is simple enough for him to show that a box...
15278,1294,embody,set,0.627734,In both features she is also seen to embody a ...
15279,7127,dips,acknowledgement,0.650403,It dips its wings in acknowledgement of the la...
15280,12272,little,bit,0.639160,Hold me a little bit .
15281,6178,executive,joins,0.442593,A less direct measure which is applicable only...
15282,1067,environment,gentle,0.626239,"Sleek , solidly built , gentle on the environm..."
15283,6533,facilities,range,0.531665,Many commented on lack of information about th...
15284,5612,brush,dug,0.274956,"Ellen ignored my advice while I , obedient to ..."
15285,4569,example,role,0.429212,As a last example of the potential role of ope...
15286,3742,wide,range,0.802819,The first three chapters dealing with environm...
15287,7023,occasion,assumed,0.604928,He certainly held deep convictions as to the a...
15288,6715,re,aim,0.425737,The divergence was sharpened by the applicatio...
15289,728,studios,starved,0.392990,"Gene Autry , the first TV cowboy , now 82 , sa..."

In [83]:
train_visulization_data.to_csv("train_visualization_data.csv")